# 시계열분석

## 1장. 시계열데이터 다루기

In [4]:
import os
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
os.getcwd()

'C:\\Users\\rbtkd\\ADP_codingbook\\시계열분석'

## 01. datetime 패키지

### 시간데이터 변환 포맷
- 년 : %y(두자리), %Y(네자리)
- 월(숫자) : %m
- 월(문자) : %b(축약), %B(full)
- 일(숫자) : %d
- 시간(숫자) : %H
- 분(숫자) : %M
- 초(숫자) : %S
- 요일(숫자) : %w(0:sunday, 6:saturday)
- 요일(문자열) : %a(축약), %A(full)
- %D : 월/일/년,

### 01-1. datetime

In [57]:
from datetime import datetime

In [8]:
### 오늘날짜 표현
today = datetime(2021,9,11,12,15)
today

datetime.datetime(2021, 9, 11, 12, 15)

In [9]:
print(today.day)
print(today.year)
print(today.month)

11
2021
9

In [7]:
datetime.now()

datetime.datetime(2021, 9, 11, 12, 15, 38, 821365)

---

- weekday()
    - 월요일이 0 , 일요일이 6
- date()
- time()

In [15]:
datetime.now().weekday(), datetime.now().date(), datetime.now().time()

(5, datetime.date(2021, 9, 11), datetime.time(12, 18, 10, 822359))

In [11]:
dates = [datetime(2021,9,9), datetime(2021,9,10)]

### 01-2. timedelta, date
- timedelta에 day, hour, minutes를 넣고 출력하면 day는 그대로 나오지만 나머지는 초로 계산이 된다.
- week는 days=7과 동일
- date.today()와 timedelta를 활용해서 원하는 날짜 계산 가능

In [17]:
from datetime import timedelta, date

In [18]:
# date.today()와 , timedelta이용해서 날짜계산
week = timedelta(weeks=1)
next_week = date.today() + week
week, next_week

(datetime.timedelta(days=7), datetime.date(2021, 9, 18))

In [19]:
# 시간,분 => 초로 나온다.
timedelta(days=5, hours=17, minutes=30)

datetime.timedelta(days=5, seconds=63000)

---
---

## 02. 시간 데이터 타입 변환

### 02-1 str로 변환
- strftime 이용해서 원하는 형태 넣어주면 원하는 str타입의 형태로 변환이 된다.
- timestamp를 datetime으로 바꾸고 다시 str로 바꾸는 것이 str타입의 날짜데이터 얻는 방법

In [28]:
datetime = datetime.now()
datetime

datetime.datetime(2021, 9, 11, 12, 44, 7, 592698)

In [29]:
datetime_to_str = datetime.strftime('%Y-%m-%d %H:%M:%S')
print(datetime_to_str)
print(type(datetime_to_str))

2021-09-11 12:44:07
<class 'str'>

---

### 02-2 dateimte으로 변환
- strptime에 현재 str에 입력된 타입을 입력해주면 된다.
- timestamp에서 datetime은 fortimestamp를 활용해주면 된다.

In [37]:
str1 = '2018-05-16 12:00:00'
str_to_datetime = datetime.strptime(str1,'%Y-%m-%d %H:%M:%S')
str_to_datetime

datetime.datetime(2018, 5, 16, 12, 0)

---

### 02-3 timestamp로 변환
1. str에서 strptime(<->strftime)을 이용하면서 datetime으로 바꾸고
2. 그 datetime에 timetuple을 이용하고 다시 time.mktime을 이용하면서 timestamp로 바꿔줘야 한다

In [33]:
str1 = '2018-05-16 12:00:00'

# 01. str -> datetime
str_to_datetime = datetime.strptime(str1, '%Y-%m-%d %H:%M:%S')
# 02. datetime -> timetuple()적용 -> time.mktime() == timestamp
datetime_to_timestamp = time.mktime(str_to_datetime.timetuple())

datetime.datetime(2018, 5, 16, 12, 0)

In [34]:
str_to_datetime

datetime.datetime(2018, 5, 16, 12, 0)

In [35]:
datetime_to_timestamp

1526439600.0

---
---

## 03. pandas 패키지 이용
- pandas로 하는 방법을 알아둬야 하는 이유는 DataFrame을 사용할 때, 해당 방식으로 날짜 타입들이 기록되어있을 가능성이 있기 때문이다.
- pd.to_datetime을 이용해서 str을 datetime으로 변환을 해주고 진행을 한다.

In [39]:
pd_ts = pd.Timestamp(2019,12,22,13,30,59)
pd_ts

Timestamp('2019-12-22 13:30:59')

- 해당 값에 timestamp, date, strftime 등을 해주면 각각의 타입들이 나오게 된다.

In [41]:
# timestamp타입, datetime타입
pd_ts.timestamp(), pd_ts.date(), pd_ts.time()

(1577021459.0, datetime.date(2019, 12, 22), datetime.time(13, 30, 59))

In [44]:
# str 타입
pd_ts.strftime('%Y-%m-%d %H:%M:%S')

'2019-12-22 13:30:59'

In [47]:
# noew(), today() 할 수 있음
pd.Timestamp.now(), pd.Timestamp.today(), type(pd.Timestamp.today())

(Timestamp('2021-09-11 12:59:03.720401'),
 Timestamp('2021-09-11 12:59:03.720401'),
 pandas._libs.tslibs.timestamps.Timestamp)

- str타입을 pd.to_datetime 사용해서 Timestamp 타입으로 변경할 수 있음

In [49]:
t1 = '2020-03-02 00:00:00'
t2 = pd.to_datetime(t1)
t2,  type(t2)

(Timestamp('2020-03-02 00:00:00'), pandas._libs.tslibs.timestamps.Timestamp)

In [58]:
# dtype = datetime
dates = [datetime(2021,9,11), datetime(2021,9,12)]
dt_index = pd.DatetimeIndex(dates)
dt_index

DatetimeIndex(['2021-09-11', '2021-09-12'], dtype='datetime64[ns]', freq=None)

In [59]:
data = np.random.randn(2,2)
cols = ['A','B']

In [60]:
# dt_index를 인덱스로 지정
pd.DataFrame(data=data, index=dt_index, columns=cols)

                   A         B
2021-09-11 -0.424014 -1.566806
2021-09-12  2.388697  0.928360

In [61]:
df = pd.DataFrame(data=data, index=dt_index, columns=cols)
df.index

DatetimeIndex(['2021-09-11', '2021-09-12'], dtype='datetime64[ns]', freq=None)

In [62]:
print(df.index.max())
print(df.index.min())

2021-09-12 00:00:00
2021-09-11 00:00:00

---
---

## 04. datetime 인덱스 만들기
- pd.date_range(start, end)로 datetime index 만들 수 있음
- freq='B' 로 Businessday(월~금) frequency 만들 수 있음

In [65]:
daily_daterange = \
pd.date_range(start=datetime(2018,9,1),
             end=datetime(2019,1,24),
             freq='B')

In [66]:
daily_dataset = \
pd.DataFrame(
    data = {'value':np.random.rand(len(daily_daterange))},
    index=daily_daterange)

In [69]:
daily_dataset.head()

               value
2018-09-03  0.585721
2018-09-04  0.577274
2018-09-05  0.372895
2018-09-06  0.190924
2018-09-07  0.883528